:root {
  --swiper-navigation-color: #a14aff;
  --swiper-pagination-color: #a14aff;
  --swiper-scrollbar-drag-bg-color: #a14aff;
}

.swiper {
  width: 90%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1000px) {
  .swiper-button {
    display: none !important;
  }
}

@media (min-width: 1000px) {
  .swiper-scrollbar {
    display: none;
  }
}
