
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --gradient-color-1: #2c3e50; /* Cor 1 */
    --gradient-color-2: #1f2d3d; /* Cor 2 */
  }


body{
    font-size: 100%;
    background: linear-gradient(to bottom, var(--gradient-color-1), var(--gradient-color-2));


}

/*css do menu do site*/

#header{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 70px;
    padding: 1rem;
    justify-content: space-between;
    border-bottom: 1px solid white;
}

/*

#menu{
    display: flex;
    list-style: none;
    gap: 3rem;
}

 #menu a{
    text-decoration: none;
    color: white;
    border-radius: 10px;
 }

 #menu a:hover{
    background: #312426;
    transition: .5s;
 }
 

 #menu a{
    display: block;
    padding: .5rem;
 }

 */



 
.dp-menu ul {
    list-style-type: none;
    padding: 0;
    border-radius: 10px;
}



.dp-menu ul li {
    display: inline;
    position: relative;
}

.dp-menu ul li a {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    transition: background .3s;
}

.dp-menu ul li a:hover {
    background-color: #132638;
    
}

/*sub menu*/
.dp-menu ul ul {
    display: none;
    left: 0;
    position: absolute;
    background-color: #3b597a;
    border-radius: 5px;
}

.dp-menu ul li:hover ul {
    display: block;
}

.dp-menu ul ul {
    width: 100%;
}

.dp-menu ul ul li a {
    display: block;
    border-bottom: 1px solid white;
    padding: 10px;
    border-radius: 5px;
}






 .cabecalho-imagem{
    width: 50px;
    border-radius: 50%;
 }


.MenuMobile{
    display: none;
}








/*Menu Mobile*/



@media (max-width: 600px){
    

    .MenuMobile{
        display: block;

        
    }

    #menu{
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        left: 0px;
        background-color: #2c3e50;
        height: 100vh;
        transition: .4s;
        z-index: 1000;
        height: 0;
        visibility: hidden;
        overflow: hidden;
    }

    #menu li{
        list-style: none;
        padding: 20px;
        display: block;

    }




    

    #menu a{
        text-decoration: none;
        color: white;
        border-radius: 10px;
     }
    
     #menu a:hover{
        background: #1f2d3d;
        transition: .5s;
     }
     
    
     #menu a{
        display: block;
        padding: .5rem;
     }




   #nav.active #menu{
    height: calc(100vh - 70px);
    visibility: visible;
    overflow: auto;
   }


   .MenuMobile{
    display: flex;
    padding: .5rem 1rem;
    color: white;
    font-size: 1rem;
    background: none;
    cursor: pointer;
    border: none;
    gap: .5rem;
   }

   #hamburguer{
    border-top: 2px solid white;
    width: 20px;
   }


   #hamburguer::after, #hamburguer::before{
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    position: relative;
    transition: .4s;
   }


   #nav.active #hamburguer{
    border: transparent;
   }



   #nav.active #hamburguer::before{
    transform: rotate(135deg);
   }

   #nav.active #hamburguer::after{
    transform: rotate(-135deg);
    top: -7px;
   }


   .menuAtivoConteudoInvisiveT{
    display: none;
   }




   
.inative{
    display: none;
}

   
.rodape{
    border-top: 0.4px solid #fff2e7;
    padding: 32px;
    text-align: center;
    font-weight: bold;
    font-size: 10px;
    color: white;
}



}


 